hr {
    background: linear-gradient(to right, red, rgb(253, 198, 46));
    height: 5px;
    margin-top: -9px;


}


.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 500px;


}

/*Botão geral*/
.botao-geral {
    background-color: rgb(226, 36, 30);
    width: 270px;
    height: 40px;
    border-radius: 4px;
    color: white;
    border: none;
    margin-top: 30px;
}

.botao:hover {
    background-color: rgb(209, 72, 48);
}


.secao1 {
    background-image: url("../imagens/fundo.png");
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: 100% auto;
}


/*Container geral da seção 1*/
.container-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;

}

/*Container do formulário*/
.formulario {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 400px;
    height: 490px;
    border-radius: 8px;
    padding: 50px;
    margin: 10px;
    margin-right: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}


.titulo-formulario {
    margin-left: 70px;
    margin-top: 2px;
}


.paragrafo-formulario {
    margin-left: 110px;
}


form input {
    display: block;
    width: 350px;
    height: 30px;
    margin-bottom: 12px;
    color: black;
}


form label {
    color: rgb(71, 70, 70);
}


form button {
    margin-left: 35px;
}


/* Textos da seção 1*/
h1,
.paragrafo-h1 {
    color: white;
    margin-left: 100px;
}


h1 {
    font-size: 24px;
}


.cabecalho-secao2 {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 80px;
    text-align: center;
    margin-top: -20px;

}

.titulo-secao2 {
    transform: translateY(30px);
    font-weight: 100;

}

.titulo-imagens-secao2 {
    font-weight: 800;
    text-align: center;


}


.container-produtos {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: auto;



}

.container-produtos img {
    width: 300px;
    height: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 10px 50px 10px 50px;
    align-items: center;

}

.produtos-article {
    margin: 0 0 10px 10px;
    padding: 10px 0 0 5px;

}


.figcaption-produtos {
    color: gray;

}


#botao-secao2 {
    margin: 0 0 0 550px;
}


.cabecalho-secao3 {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 90px;
    text-align: center;

}

.imagens-cartoes {
    margin: 5px 0 0 5px;
    padding: 10px 20px 20px 10px;
}



.titulo-secao3 {
    transform: translateY(20px);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-top: 200px;

}

.container-cartoes {
    display: flex;
    background-color: rgba(225, 0, 0, 0.914);
    align-items: center;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.container-cartoes img {
    width: 80px;
    height: 80px;
}

.paragrafo-secao3 {
    font-weight: 100;
    font-size: 14px;
}

.paragrafo-redes-sociais {
    color: #272b5d;
    font-size: 16px;
    text-align: center;
    margin: 0px;

}

.imagens-redes-sociais {
    margin: 0px 10px;

}

.container-redes-sociais {
    display: flex;
    margin: 15px 0px;
    justify-content: center;
    align-items: center;
}

#botao-rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 36, 30);
    color: white;
    font-size: 14px;
    padding: 0px 0px;
    border-radius: 4px;
    width: 250px;
    height: 42px;
    border: none;
}

/*imagens abc e + Target*/
.container-imagens-rodape {
    display: flex;
    margin: 30px 0px;
    align-items: center;

}

/*imagens abc e + Target (dentro do figure)*/
.rodape-figures {
    margin: 0px 10px;

}

.container-geral-rodape {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rodape {
    font-family: arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 100px 10px 50px 10px;


}