*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration: none;
  list-style: none;
}


:root{

  --red: #fff3f3;
  --yellow: #cba40a;
  --pink: #b7009c;
  --degrade-btn: linear-gradient(rgb(198, 36, 36) , #de1515);
  --orange: rgb(255, 253, 249);
  
}

.background-orange{

 background: var(--red); 
}

hr{
  background-image: linear-gradient(to right, rgb(242, 23, 23), rgb(255, 206, 10));
}

/*Classe reutilizável*/
.container{

  max-width: 1440px;
  padding: 0 5%;
  margin: 0 auto;
}



nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}




.btn-gradient{
  padding: 10px 25px;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  background-image: var(--degrade-btn);
}



.card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.281);
}



.container {
  padding: 2px 16px;
}
