*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration: none;
  list-style: none;
}




:root{

  --white: #ffffff;
  --yellow: #cba40a;
  --pink: #b7009c;
  --degrade-btn: linear-gradient(rgb(215, 22, 22) , #de1515);
  --orange: rgb(255, 253, 249);
  --degrade-orange-red: linear-gradient(rgb(224, 143, 35) , #de1515);
  
}

.background-menu{

 background: var(--white); 
}

hr{
  background-image: linear-gradient(to right, rgb(242, 23, 23), rgb(255, 206, 10));
}

/*Classe reutilizável*/
.container{

  max-width: 1440px;
  padding: 0 5%;
  margin: 0 auto;
}



nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}




.btn-gradient {
  padding: 10px 25px;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  background-image: var(--degrade-btn);
  font-family: Arial, Helvetica, sans-serif;
  
}







.container {
  padding: 2px 16px;

}





/* div da faixa de produtos*/
div#produtos {
  margin-top: 80px;
  background-color: rgb(0, 0, 0);
  height: 75px;
  text-align: center;
  

}

@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Moderustic:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');

h3#textproduct {
  padding-top: 30px;
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
}


/*container geral das imagens dos produtos*/
.container#geralp{
  display: flex;
  
  
}

.item#itemdiv{
  margin-top: 50px;
  text-align: center; 
  width: 25%; 
  box-sizing: border-box;
  gap: 10px;
  font-family: "Quicksand", sans-serif;

}

.item#itemlo{
  text-align: center; 
  width: 25%; 
  box-sizing: border-box;
  position: relative;
  top: -400px;
  right: -660px;
  left:- 50px;
  padding: 20px;
  gap: 10px;
  font-family: "Quicksand", sans-serif;
  
}

.item#itemlo img{
  max-width: 100%;
  height: auto;
  
}


.item#itemti{
  text-align: center; 
  width: 25%; 
  box-sizing: border-box;
  position: relative;
  top: -840px;
  right: -1000px;
  left:- 100px;
  padding: 20px;
  gap: 10px;
  font-family: "Quicksand", sans-serif;
}

.item#itemti img{
  max-width: 100%;
  height: auto;
}


 


.item#itemdiv img{
  max-width: 100%;
  height: auto;
}

  



@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Moderustic:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.decima, .debaixo{
  color: #040404; 
  font-size: 12px; 
  font-family: "Rubik", sans-serif;
  margin: 0 ;
  padding: 10px;
}





.btn-gradient#b {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #8e302a; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none;
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -10000px;
  margin: 0 auto;
 
 
}




body {

  background-image: url(../imagens/fundo.png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  
 
}

.container#containerform{

  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 20px;

 
}

form{
  background-color: #fff;
  max-width: 500px;
  height: 500px;
  padding: 40px;
  border-radius: 20px;
  margin-top: 0; /* Remove margem superior para mover o texto para cima */
  padding-top: 5px;

}


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Slabo+27px&display=swap');

form h1{
  text-align: center;
  font-size: 20px;
  color: #040404;
  font-family: "Raleway", sans-serif ;
  font-weight: 750;
}


form p{
  text-align: center;
  margin: 20px 0;
  
}

.inupt-single{
  position: relative;
  
  margin-bottom: 15px; 
}

.inupt-single label{
  display: block;
  margin-bottom: 5px; /* Espaçamento abaixo do rótulo */
  font-weight: bold;
  color: #030303;
  width: 300px; /* Ajuste conforme necessário */
  
}

.input{
  border: 1px solid #ddd;
  box-sizing: border-box;
  width: 100%; /* Faz o campo de entrada ocupar toda a largura do contêiner */
  padding: 8px;
  box-sizing: border-box;
}



.button{
  background-color: #ff0400; /* Cor de fundo */
            color: white; /* Cor do texto */
            border: none; /* Remove a borda padrão */
            border-radius: 5px; /* Borda arredondada */
            padding: 10px 20px; /* Espaçamento interno */
            font-size: 12px; /* Tamanho da fonte */
            cursor: pointer; /* Cursor de pointer para indicar que é clicável */
            transition: background-color 0.3s;
            width: 200px; 
            height: 40px;
           
}

.container#textos1e2{
  float: left;
  width: 500px;
  color: #ffffff;
  font-family:  "Quicksand", sans-serif;
}

.flex-container#geralicones{
  display: flex;
  flex-direction: column; /* Alinha os itens na vertical */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  height: 100vh; /* Define a altura do contêiner como a altura da viewport */
  position: relative;
  margin-top: -500px; 
}

.text#textrede{
  margin-bottom: 10px; /* Espaçamento entre o texto e as imagens */
  font-family: "Rubik", sans-serif;
  color: hsl(227, 66%, 29%);

}

.images#imgicons{
  display: flex;
  gap: 10px; 
}

.images#imgicons img{

  max-width: 30px;
  margin-top: -15px;
}

/*div acima das redes sociais*/
.container#geralacima{
  display: flex;
  flex-direction: column; /* Organiza os itens na vertical */
  align-items: center; /* Centraliza os itens horizontalmente */
  width: 100%; /* Ajusta a largura conforme necessário */
  padding: 200px;
  margin-top: -110px;
  
}

.btn-gradient#botaoroda{

  margin-bottom: 20px;
}

.images#imgrodape{
  display: flex;
  gap: 10px;
}

.images#imgrodape img{
  max-width: 150px; /* Define a largura máxima das imagens */
  height: auto; /* Mantém a proporção das imagens */
}

/*Faixa do container 3*/
.container#container3 {

  background-color: rgb(0, 0, 0);
  height: 100px;
  text-align: center;
  margin-top: 600px; 
  width: 1300px;

}

.container#contred{
  background-color: #d21313;
  width: 1300px;
  height:300px ;
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte se não houver espaço suficiente */
  gap: 20px; 
  justify-content: center;
  padding: 20px; 
}


.image-row#divpay{
  display: flex;
  flex-direction: column; /* Organiza a imagem e o texto verticalmente */
  align-items: center; /* Centraliza a imagem e o texto horizontalmente */
  width: 200px; /* Largura fixa para cada item */
  text-align: center; /* Alinha o texto ao centro */
  margin: 30px;
}

.image-row#divpay img {
  max-width: 55%; 
  height: auto;
}

p#textpay{

  font-size: 18px; 
  text-align: center;
  margin-top: 10px; /* Espaçamento entre a imagem e o texto */
  font-family: "Rubik", sans-serif;
  color: #fff;
}