.cabecalho{
    width: 1440px;
    height: 120px;
    flex-shrink: 0;
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding:29px 0 39px 175px ;
  
   
}

.secao1{
    background-image: url("../imagens_lp_medicos/imagem_fundo.png");
    width: 1440px;
    height: 1080px;
}

#navbarSupportedContent{
    width: 292.87px;
    padding-right: 500px;

}

#link-sobre{
    color: var(--Black-500, #3D3D3D);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 46px 0 52px 190.01px;
   
}

#link-servicos{
    color: var(--Black-500, #3D3D3D);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 46px 0 52px 43.87px;
    
}

#link-beneficios{
    color: var(--Black-500, #3D3D3D);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 46px 153.13px 52px 28px;
   
}

.btn btn-outline-info{
    display: flex;
    width: 254px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1.5px solid var(--Sail-600, #1B7DAE);
}

.fs-2{
    color: #1B7DAE; 
    padding: 213px 0 46px 0;  
    
    
}
/*Ultimo paragrafo da seção 2*/
.fs-6{
    color: #000000;
}

.h1{
    color:#1B7DAE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px; /* 125% */
    padding: 0 0 0 0;
}

hr{
    stroke-width: 2.5px;
    background: #1B7DAE;
    width: 454.027px;
    height: 0px;
    flex-shrink: 0;
}

.paragrafo-secao1{
    color: var(--Deep-Cerulean-600, var(--Sail-600, #1B7DAE));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}

.secao2{
    color: var(--Deep-Cerulean-600, var(--Black-500, #1B7DAE));
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-style: normal;
    line-height: normal;
}

.btn-secao2{
    font-size:medium;
    color: white;
    display: flex;
    width: 350px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0;
    background: var(--Sail-600, #1B7DAE);
}
.titulo-secao2{
    padding: 221px 221px 0 0;
    
}

.imagem_secao2{
   width: 708px;
   height: 524px;
}

.container-secao2{
    width: 460px;
}

#container-textos-secao2{
    width: 698px;
    height: 593px;
}

#paragrafo1-secao2{
    color: #000000;
    padding: 10px 150px 0 0;

}

.texto-container-secao2{
    color: #000000;
}




strong{
    color: #1B7DAE;
}

.link-whatsapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#ffffff;
    color:#25d366;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 1px 1px 2px #888;
    z-index:1000;
}

.card-body{
    width: 248px;
    height: 248px;
}