.cabecalho{
    width: 1440px;
    height: 120px;
    flex-shrink: 0;
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
   padding-left: 174px;
   padding-bottom: 39px;
   padding-top: 29px;
   padding-right: 640px;
   
}

.secao1{
    background-image: url("../imagens_lp_medicos/imagem_fundo.png");
    width: 1440px;
    height: 1080px;
}


#link-sobre{
    color: var(--Black-500, #3D3D3D);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 190.01px;
    padding-bottom: 52px;
    padding-top: 46px;
}

#link-servicos{
    color: var(--Black-500, #3D3D3D);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 43.87;
    padding-bottom: 52px;
    padding-top: 46px;
}

#link-beneficios{
    color: var(--Black-500, #3D3D3D);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 28px;
    padding-top: 46px;
    padding-bottom: 52px;
    padding-right: 153.13;
}

.btn btn-outline-info{
    display: flex;
    width: 251px;
    height: 54px;
    padding-left: 153.13px;
    padding-top: 38px;
    padding-bottom: 28px;
    padding-right: 161px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
}

small{
    color:#1B7DAE;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 190.476% */
    
    
}

.h1{
    color:#1B7DAE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px; /* 125% */
}

hr{
    stroke-width: 2.5px;
    background: #1B7DAE;
    width: 454.027px;
    height: 0px;
    flex-shrink: 0;
}

.paragrafo-secao1{
    color: var(--Deep-Cerulean-600, var(--Sail-600, #1B7DAE));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}