#navbarSupportedContent{
    justify-content: space-between;
}



.container-geral-navbar{
    max-width: 1106px;
    width: 100%;
    margin: 0 auto;
    
}



.secao1{
    background-image: url("../imagens_lp_medicos/imagem_fundo.png");
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-bottom: 41%;
}

.article-secao1{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}


#imagens-icone-medalha{
    width: 40; 
    height:40;
}

/*1 container com os dois primeiros cards da seção 3*/
#1container-cards {
    gap: 20px;
}

#card1-secao3{
    width: 15rem;
    height: 15rem;
    
}

#cards-secao3{
    width: 15rem; 
    height: 15rem;
}

/*Container geral dos cards de baixo seção 3*/
container-geral-cards{
    gap: 20px;
}

/*Todos os cards da seção 4*/
#cards-secao4{
    width: 15rem; 
    height: 15rem; 
}




/* Container geral com os 2 primeiros cards da Seção 4*/
#container1-geral-cards{
    gap: 20px;
}





/*2 Container geral de cards da secao 4*/
container2-geral-cards{
    gap: 20px;
}

/*Figure feedbacks secao5*/
figure-feedback{
    padding: 0 0 0 40px;
}

/*Container da seção 5 com as logomarcas*/
.image-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; /* Adiciona rolagem horizontal se necessário */
}



#container-texto-secao6{
    margin-top: 10rem;
}

/*Card do formulário*/
.card{
    width: 25rem;
    height: 30rem;
}


footer{
    background-color: #FF900F;
}

/*Container das bandeiras no rodapé*/
#container-bandeiras{
    display: flex;
    gap:0;
}



.link-whatsapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#ffffff;
    color:#25d366;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 1px 1px 2px #888;
    z-index:1000;
}

